MONGO_PORT=27017
MONGO_ROOT_USERNAME=calc
MONGO_ROOT_PASSWORD=calc-password
MONGO_DATABASE=calc
APP_PORT=80
PUBLIC_ORIGIN=http://localhost
COOKIE_SECURE=false
JWT_TOKEN=replace-with-a-long-random-secret-at-least-32-characters
